body {
    background-color: aliceblue;
}

h1, h2, h3, h4 {
    color: darkblue;
}

h1 {
    font-size: 48px;
    margin: 5px;
}

/* Location Query */
#locationQuery {
    margin-left: 10px;
}

#locationSearch {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}

#locationPrompt {
    color: darkblue;
    font-size: 20px;
}

#userLocation {
    font-size: 16px;
    resize: none;
}

.button--submit {
    font-size: 16px;
    height: 1.4em;
    width: 100px;
    background-color: royalblue;
    color: white;
    border: none;
    margin-left: -5px;
}

    .button--submit:hover {
        background-color: cadetblue;
    }

/* Error messages */
.error__message {
    display: none; /* Hide on webpage load */
    color: red;
    background-color: white;
}

/* The weather report */
#weatherReport {
    display: none; /* Hide on webpage load */
    flex-direction: column; /* Direction depends on webpage size */
}

.day {
    display: flex;
    flex-direction: row;
    width: calc(100% - 5px);
    height: 125px;
    background-color: royalblue;
    margin: 5px;
    justify-content: space-between;
}

.day__info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    margin: 10px;    
}

.day__info__dow, .day__info__date {
    font-size: 16px;
    height: 1em;
    color: white;
    padding: 5px;
    margin-bottom: 1em;
}

/* The temperatures for each day */
.day__temps {
    display: flex;
    flex-direction: row;
}

.temp--high, .temp--low {
    display: grid;
    grid-template-rows: 1.25em auto;
    grid-template-columns: 10px 2fr 1fr 10px;
    grid-template-areas:
        "label label label label"
        ". value unit .";
    width: 75px;
    height: 90px;
    background-color: cadetblue;
    margin: 10px; /* Put in middle of column */
}

    .temp--high__label, .temp--low__label {  
        grid-area: label;
        background-color: aliceblue;
        width: 75px;
        height: 1.25em;
        text-align: center;
        margin: 0px;
    }

.temp--high__value, .temp--low__value {
    padding: 10px;
    padding-left: 0px;
    grid-area: value;
}

.temp--high__unit, .temp--low__unit {
    padding: 10px 0px;
    grid-area: unit;
}

/* Cut feature */
#weatherChart {
    height: 100%;
    width: 100%;
}

/* Desktop size, show days vertically */
@media (min-width: 1000px) {
    #weatherReport {
        flex-direction: row; /* Display in a row */
        /* TODO: space around the row, */
        justify-content: space-around;
    }

    .day {
        flex-direction: column;
        width: 125px;
        height: 600px; /* Change to window size - header/margins */
        flex-grow: 1;
    }

    .day__temps {
        flex-direction: column;
    }
}